{% extends 'base.html' %}

{% block title %}

home
{% endblock title %}


{%block css %}



{% endblock css %}
{% block homeactive %}active
{% endblock homeactive %}
{% block body %}
{% load static %}
<section class="banner" style=" 
position: relative;
width: 100%;
height: 100vh;
background: url(/static/job.jpg);
background-size: cover; margin-bottom: 1cm;">
  <!-- <div style="position: relative;
top: 40%;
font-size:8ch;
color: #fff;
font-family:Peyo;
left: 30%;">
    PLACEMENT PORTAL
  </div> -->
</section>

<main role="main">

  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div class="container">
      {% for post in organisation reversed %}

      <div class="row featurette" style="back">
        <div class="col-md-10">
          <h2 class="featurette-heading"><a href="/{{post.slug}}" style="text-decoration:none">{{post.orgName}}</a></h2>
         <div class="preview">
          <p class="lead"> {{post.content|safe|truncatewords:70}} </p>
          </div>
          <a href="/{{post.slug}}"> read more</a>
        </div>
      </div>
      <hr class="featurette-divider">
      {% endfor %}
    </div>
    </div>
</main>






{% endblock body %}
{% block js %}

  let previews = document.getElementsByClassName("preview");
  Array.from(previews).forEach((element) => {
    element.innerHTML = element.innerText;
  })

{% endblock js %}