{% extends 'base.html' %}
{% block css %}

.form-signin {
width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;
}
.form-signin .checkbox {
font-weight: 400;
}
.form-signin .form-control {
position: relative;
box-sizing: border-box;
height: auto;
padding: 10px;
font-size: 16px;
}
.form-signin .form-control:focus {
z-index: 2;
}
.form-signin input[type="email"] {
margin-bottom: -1px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}
{% endblock css %}
{% load static %}
{% block body %}

<section style=" width: 100%; height: 100%;
   background-color: #26272b;
    padding-top: 85px;">
  <br> <br>


</section>


<div class="row " style="margin-top: 1cm;">
  <div class="col align-self-center ">
    <div class="d-flex justify-content-center ">
      <form method="post" action="/login">
        {% csrf_token %}

        <div class="text-center">
          <img class="mb-2 " src="/static/user.png" alt="" width="100" height="100">
        </div>
        <h1 class="h3 mb-3 fw-normal text-center">Please log in</h1>
        <label for="loginusername">Username</label>
        <input type="text" class="form-control my-2" id="loginusername" name="loginusername"
          placeholder="enter your username" required>
        <label for="loginpass">Password</label>
        <input type="password" class="form-control my-2" id="loginpass " name="loginpass"
          placeholder="enter your password" required>

        <div class="row">
          <button type="submit" class="btn btn-primary my-3">Signin</button>

      </form>
      <button class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#signupmodal">Signup</button>
    </div>
  </div>
  <br><br><br><br>
</div>


{% endblock body %}